<%- include('header') %>
      <div class="screen-body-item">
        <form method="GET" action="/cotacao">
          <div class="app-form">
            <div class="app-form-group">
              <input class="app-form-control" placeholder="NAME" value="Convert Money" readonly>
            </div>
            <div class="app-form-group">
              <input class="app-form-control" name="cotacao" value="<%= cotacao %> " >
            </div>
            <div class="app-form-group message">
              <input class="app-form-control" name="quantidade"  placeholder="VALOR EM DOLARES">
            </div>
            <div class="app-form-group buttons">
              <button class="app-form-button">CONVERTER</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

<%- include('footer') %>
